<!doctype html>
<html lang="es">
  <head>
    <title>Portafolios 2S-2021</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet"> 

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="./main.css">
  </head>

  <body>

    <div id="app" class="wrap-content">
        <div class="white">
            <div class="white-container">
                <h1><span>Portafolios</span><br>Diseño Gráfico/2021-2/</h1>

                <div class="preview-window" v-for="item in nombres">
                    <img id="bigpic" :src="item.preview" alt="">
                </div>

                <div class="footer">
                    <p class="footer-left">
                        Facultad de Artes y Diseño<br> Universidad Jorge Tadeo Lozano
                    </p>
                    <p class="footer-right">
                        ©2021<br>@contra_studio_
                    </p>
                </div>
            </div>

        </div>
        <div class="green">
            <div class="green-container">
                <div class="table-title">
                    <p>Nombre</p>
                    <p>Enfoque</p>
                </div>
                
                <div class="table-items">
                    <div class="item" v-for="item in nombres">
                        <a class="name" v-on:click="toggleImage">
                            {{item.nombre}}
                        </a>
                        <p class="description">
                            {{item.especialidad}}
                            
                        </p>
                    </div>
                </div> 
            </div>

        </div>
    </div>
      
    <!-- VUE 3 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

    <script>
        const app = new Vue({
            el:'#app',
            data: {
               nombres:[
                    { 
                       nombre: 'Andres Cortes Henández',
                       especialidad: 'Editorial & Ilustración',
                       preview: './images/img1.png'
                    },
                    { 
                       nombre: 'Paula Munar',
                       especialidad: 'Editorial & Ilustración',
                       preview: './images/img1.png'
                    },
                    {  nombre: 'Nicolas Castro Poveda',
                       especialidad: 'Diseño Web & Editorial',
                       preview: './images/img1.png'
                    },
                    { 
                       nombre: 'Paola Lozano',
                       especialidad: 'Editorial',
                       preview: './images/img1.png'
                    },
                    { 
                       nombre: 'Santiago Reyes',
                       especialidad: 'Diseño Editorial & Packaging',
                       preview: './images/img1.png'
                    },
                    {  nombre: 'Juan Rodríguez',
                       especialidad: 'Diseño Web & Editorial',
                       preview: './images/img1.png'
                    },
                    { 
                       nombre: 'Camilo Rojas Forero',
                       especialidad: 'Ilustración',
                       preview: './images/img1.png'
                    },
                    { 
                       nombre: 'Valentina Montilla',
                       especialidad: 'Packaging',
                       preview: './images/img1.png'
                    },
                    {  nombre: 'Alejandra Enciso',
                       especialidad: 'Diseño Web & Motion',
                       preview: './images/img1.png'
                    },
                    {  nombre: 'Fernando Castro Botero',
                       especialidad: 'Editorial & Ilustración',
                       preview: './images/img1.png'
                    },
                    { 
                       nombre: 'Paula Munar',
                       especialidad: 'Editorial & Ilustración',
                       preview: './images/img1.png'
                    },
                    { 
                       nombre: 'Andres Cortes Henández',
                       especialidad: 'Editorial & Ilustración',
                       preview: './images/img1.png'
                    }
                    ,
                    {  nombre: 'Nicolas Castro Poveda',
                       especialidad: 'Diseño Web & Editorial',
                       preview: './images/img1.png'
                    },
               ]
            },
            methods: {
                toggleImage () {
                    console.log('click');
                    document.getElementById('bigpic').style.display='block';
                },
            
            }
        })
    </script>

    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>